:host {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ui {
    display: flex;
    align-items: center;
    flex-direction: column;
    * {
        margin-bottom: 20px;
    }
}