:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;

  h1 {
    font-size: xx-large;
    font-weight: 500;
  }

  .content {
    width: 350px;
  }
}

.heading {
  margin-top: 16px;
  width: 100%;
}

.header {
  display: flex;
}

app-game {
  margin-top: 16px;
  margin-bottom: 16px;
}

.about-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .about-text {
    margin-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #000;
  }

  .heart {
    color: #e25555;
  }
}

#browser-how-to {
  display: none;
}

// this breakpoint should also hide the arrow buttons
@media only screen and (min-width: 600px) {
  #browser-how-to {
    display: block;
  }
  #mobile-how-to {
    display: none;
  }
}
