.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  font-size: x-large;
}

.tile-content {
  color: white;
}
