.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: x-large;
}

.tile-content {
    color: white;
}