<div class="row">
  <button mat-button color="primary" aria-label="Example icon button with a delete icon" (click)="onUpClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >keyboard_arrow_up</mat-icon
    >
  </button>
</div>
<div class="row">
  <button mat-button color="primary" aria-label="Example icon button with a delete icon" (click)="onLeftClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >keyboard_arrow_left</mat-icon
    >
  </button>
  <button mat-button color="primary" aria-label="Example icon button with a delete icon" (click)="onDownClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >keyboard_arrow_down</mat-icon
    >
  </button>
  <button mat-button color="primary" aria-label="Example icon button with a delete icon" (click)="onRightClick()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >keyboard_arrow_right</mat-icon
    >
  </button>
</div>
