<div
  class="touch-overlay"
  (panstart)="onPanStart($event)"
  (panend)="onPanEnd($event)"
  (swipeup)="moveUp($event)"
  (swipeleft)="moveLeft($event)"
  (swipedown)="moveDown($event)"
  (swiperight)="moveRight($event)"
>
  <mat-grid-list cols="4" rowHeight="74px">
    <mat-grid-tile *ngFor="let t of tiles"
      ><app-tile [num]="t"></app-tile
    ></mat-grid-tile>
  </mat-grid-list>
</div>

  <div class="game-over-message" [ngStyle]="{'display': displayGameOver}">
    <span>Game Over!</span>
  </div>